.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix+.container-fluid {
  padding-top: 100px;
}


#myBtn {

    position: fixed; /* Fixed/sticky position */

    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    left: 50%;
    transform: translate(-50%, 0);

    cursor: pointer; /* Add a mouse pointer on hover */

    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
